/* Ant Design Overriden Classes */
#custom-dashboard .ant-layout-sider {
  background-color: #00356b;
}

#custom-sidebar .ant-menu-item-active {
  background-color: #7bafd4;
}

#custom-sidebar .ant-menu-item-selected {
  background-color: #7bafd4;
}
#custom-menu .ant-menu-submenu-arrow::before {
  background-color: #ffffff;
}
#custom-menu .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
  background-color: #ffffff;
}

.ant-btn .ant-btn-primary {
  background-color: #00356b;
}

.css-dev-only-do-not-override-6j9yrn .ant-btn-primary {
  background-color: #00356b;
}
.ant-modal-confirm-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}

.ant-image-mask {
  height: 50px;
  border-radius: 2px;
}
.ant-modal-confirm .ant-modal-confirm-titl {
  color: #00356b;
}
.ant-image-img .css-dev-only-do-not-override-6j9yrn {
  font-size: large;
}
.ant-image-mask-info {
  color: white;
  font-size: large;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
